body {
  background-image: linear-gradient(120deg, #77bcff 0%, #66b2f8 100%);
}

#root {
  max-width: 900px;
  text-align: center;
  margin: 20px auto;
}
.common-details {
  height: 30px;
  background-color: #d1dfdf;
  border-radius: 0.2rem;
  margin-left: 10px;
}
.search-input {
  width: 200px;
  border-radius: 0.2rem;
}
.search-form {
  margin-top: 20px;
}
/* .search-button {
  background-color: #fcfcfa;
  margin-left: 20px;
} */
.day {
  background-color: #d1dfdf;
  border: 0.01rem solid #007afe;
  border-radius: 5px;
  text-align: center;
  padding: 8px 0px;
}
.week {
  font-size: 20px;
}
.forecast {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.current-city {
  font-size: 100px;
  color: #d1dfdf;
}
.common-font {
  font-family: "Playfair Display", serif;
}
.last-updates {
  font-size: 40px;
  color: #d1dfdf;
}
.text-grey {
  font-size: 40px;
  color: #7b7c7d;
}
.forecast-icon canvas {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 20px;
}
.common-font-weight {
  font-weight: 600;
}
.text-large {
  font-size: 80px;
  line-height: 47px;
  color: #d1dfdf;
}
.footer {
  margin-top: 60px;
}
.description-details {
  margin-top: 40px;
  font-size: 30px;
  color: #d1dfdf;
}
.temp-unit {
  color: #d1dfdf;
  font-size: 26px;
  font-weight: 400px;
  position: relative;
  top: -40px;
  margin-left: 5px;
  line-height: 1;
}
