.App {
  text-align: center;
}
.common-details {
  height: 30px;
  border-radius: 0.4rem;
}
.search-input {
  width: 200px;
  border-radius: 0.7rem;
}
.search-button {
  background-color: #e14353;
  margin-left: 20px;
}
